.order-success-container {
  text-align: center;
}

.order-success-full {
  margin-top: 50px;
}
.order-success-message {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}
.go-to-home {
  margin-top: 30px;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 500px;
  position: relative;
  left: 5px;
  font-family: Josefin Sans;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .order-success-container {
    overflow-x: hidden;
  }
  .order-success-full {
    font-size: 35px;
    font-family: josefin sans;
  }

  .order-success-message {
    font-size: 20px;
  }

  .go-to-home {
    font-size: 14px;
    padding-right: 100px;
  }
}
